# Monday Morning Warmup

> Take the word EASY: Its first three letters — E, A and S — are the fifth, first, and nineteenth letters, respectively, in the alphabet. If you add 5, 1, and 19, you get 25, which is the value of the alphabetical position of Y, the last letter of EASY.
>
> Can you think of a common five-letter word that works in the opposite way — in which the value of the alphabetical positions of its last four letters add up to the value of the alphabetical position of its first letter?

1. Think about how to break this problem down into steps and write out a plan for your solution.
2. There is a file on your mac that contains a list of words -- `/usr/share/dict/words`.
3. Open this file with either python or pandas and implement your solution.

Plan:

- need to map alphabetical characters to number values
- need to sum the alphabetical value for multiple letters (last 4)
- we need to do this for every word in our list of words
- if the alpha value of the first char == alpha value of the last 4, we found our word

---

- get_letter_alpha_value
- get_word_alpha_value
- loop: for word word in words
    - does the word match?
    - i.e. alpha_value(first_char) == alpha_value(last_four)

In [4]:
def get_letter_alpha_value(letter):
    return 'abcdefghijklmnopqrstuvwxyz'.index(letter.lower()) + 1

get_letter_alpha_value('z')

26

In [7]:
def get_word_alpha_value(letters):
    # calculate the alpha value for each letter and return the sum
    total = 0
    for letter in letters:
        total += get_letter_alpha_value(letter)
    return total

get_word_alpha_value('abc') # 1 + 2 + 3 == 6

6

In [11]:
def does_word_match(word):
    if len(word) != 5:
        return False
    # check if alpha value of first letter == val of last_four
    first_letter = word[0]
    last_four = word[1:]
    
    return get_word_alpha_value(last_four) == get_letter_alpha_value(first_letter)

does_word_match('three')

False

In [21]:
contents = '''
one
two
three
'''
contents.strip().split('\n')

['one', 'two', 'three']

In [14]:
with open('/usr/share/dict/words') as f:
    words = f.read().strip().split('\n')

In [15]:
for word in words:
    if does_word_match(word):
        print(word)

raffe
Sadie
sifac
table
Uchee
vakia
Vicia
wanga
whack
Xicak
yeara
zebra

In [22]:
import pandas as pd

In [48]:
df = pd.read_csv('/usr/share/dict/words', header=None, names=['word'])

# get just the 5 letter words
df['word_length'] = df.word.apply(str).apply(len)
df = df[df.word_length == 5]
df['first_letter'] = df.word.str[0]
df['last_four'] = df.word.str[1:]
df['first_val'] = df.first_letter.apply(get_letter_alpha_value)
df['last_four_val'] = df.last_four.apply(get_word_alpha_value)
df[df.first_val == df.last_four_val]

         word  word_length first_letter last_four  first_val  last_four_val
162735  raffe            5            r      affe         18             18
172406  Sadie            5            S      adie         19             19
181168  sifac            5            s      ifac         19             19
197206  table            5            t      able         20             20
210149  Uchee            5            U      chee         21             21
226709  vakia            5            v      akia         22             22
228545  Vicia            5            V      icia         22             22
230352  wanga            5            w      anga         23             23
231506  whack            5            w      hack         23             23
234120  Xicak            5            X      icak         24             24
234512  yeara            5            y      eara         25             25
235088  zebra            5            z      ebra         26             26